<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Game Two
        link(rel="stylesheet", href="css/main.css")
    body
        h1  The great <span id="displayColor">rgba(0,255,155,0.2)</span> Color Game
        nav
            button#resetBtn    new color 
            span#notification
            button.mode Easy
            button.mode.active    Hard  
        .container  
            .square
            .square
            .square
            .square
            .square
            .square
        script(src="js/main.js")