*
    padding: 0
    margin: 0
    box-sizing: border-box
body    
    min-height: 100vh
    background: linear-gradient(45deg,skyblue,lightblue)
.container  
    max-width: 600px
    margin: 40px auto 0 
    box-shadow: 0 0 14px rgba(#000,0.4)
    font-family: Arial, Helvetica, sans-serif
    background: #f7f7f7
    border-radius: 10px
    z-index: 100
    h1 
        background: rgba(steelblue , 0.8)
        text-align: center
        display: flex
        justify-content: space-between
        padding: 20px
        color: #ffffff
        text-transform: uppercase
    input
        width: 100%;
        padding: 20px 
        outline: none
        border: none 
        transition: all .5s
    ul  
        list-style: none
        background: #f7f7f7
        li      
            padding: 5px 
            min-height: 40px
            line-height: 40px
            background: #ffffff
            &:nth-child(2n)
                background: #f7f7f7
            i   
                text-align: center
                height: 40px
                line-height: 40px
                background: red 
                color: #ffffff
                display: inline-block
                width: 0
                opacity: 0
                transition: all 0.5s 
                margin-left: 20px
                margin-right: 10px
            &:hover i
                width: 40px
                opacity: 1

.complete
    text-decoration: line-through
    color: gray
.toggle
    opacity: 0
    pointer-events: none