*
    padding: 0
    margin: 0
    box-sizing: border-box

body 
    background: #232323
    color: #f2f2f2
    text-align: center
// CONTAINER CSS =======
.container
    max-width: 600px
    min-height: 400px
    margin-left: auto
    margin-right: auto
    // display 
    display: flex
    flex-wrap: wrap
    justify-content: space-around
// square css ======
.square
    width: 30%
    background: purple 
    border-radius: 10px
    margin: 10px

// nav bar css =========
nav
    background: rgba(#fff,0.6)
    padding: 20px
    color: #000000
