/* Variables css */
:root{
    --mainFont: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body{
    font-family: var(--mainFont);
}
/* GENERAL CSS */
h1{
    font-weight: 400;
    font-size: 1.2rem;
}
p{
    font-weight: 300;
    font-size: .8rem;
}
/* PROMO CSS */
.promo{
    background: rgb(0, 119, 142);
    color: #f2f2f2;
    font-size: .8rem;
    text-align: center;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    padding: 10px;
}
.promo strong{
}
.promo .close{
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 800;
}
.promo span{
    padding-left: 3px;
}
.promo small {
    display: block;
    
}
/* header nav bar and logo */
header{
    background: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-weight: bold;
    color: #455055;
    letter-spacing: -1px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo i {
    padding: 0 10px;
    font-size: 2rem;
    color: tomato;
}
nav{
    color: rgb(80,87,99);
    font-weight: 300;
    font-size: .7rem;
}
nav ul {
    list-style: none;
}
nav .fa {
    color: rgb(80,87,99);
}
header .searchCourse{
    background: #f3f5f8;
    flex-basis: 60% ;
    outline: none;
    border: none;
    padding: 1rem  1rem 0.8rem ;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 5px 0 0 5px ;
}
header .searchCourse:focus{
    background: #ffffff;
    border:1px solid  #f3f5f8;
}
header .profileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.profileContainer .fa {
    margin: 0  .2rem;
    color: tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px ;
    height: 50px;
    transition: all 0.3s;
}
.profileContainer .fa:hover{
    background: #f3f5f8;
    color: #333;
}
.profileimg{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* HERO  */
.hero{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
}
.hero .hero_img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hero .hero_text{
    z-index: 200;
    color: #ffffff;
    padding: 4rem 3rem ;
}
.hero_text p{
    max-width: 80%;
}